p {
  color: rgb(24, 100, 100);
}
.warna {
  color: rgb(43, 42, 133);
}
#tekswarna {
  color: red;
}

body {
  background-image: url(https://img.freepik.com/free-photo/expressive-young-man-posing-studio_176474-37665.jpg?w=740&t=st=1681525868~exp=1681526468~hmac=3da8a3fe5cc2508f1600713a0a29a7f12748bf8c9789a62e555e15c2f7f2d84f);
}
main {
  margin: 40px 200px;
  text-align: justify;
  background-color: antiquewhite;
  padding: 30px;
  border: 2px solid black;
  border-radius: 30px;
}
h1 {
  text-align: center;
}
footer {
  background-color: aliceblue;
  color: black;
}
h3 {
  text-align: center;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
